* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  /* overflow: hidden; */
}

.card {
  transition: 0.35s;
}

/* global variables */
::root {
  --mainColor: #1c232b;
  --secondColor: #777;
}
/* global variables */
.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #f3eae3;
}
.container .card {
  width: 560px;
  height: 400px;
  display: flex;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .container .card {
    width: 330px;
    flex-direction: column;
    height: 600px;
  }
}
.container .card .image {
  width: 940px;
  max-width: 100%;
  background-image: url(images/image-product-desktop.jpg);
  background-size: cover;
}
@media (max-width: 767px) {
  .container .card .image {
    width: 370px;
    height: 230px;
    max-width: 100%;
    background-image: url(images/image-product-mobile.jpg);
    background-size: cover;
  }
}
.container .card .details {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.container .card .details p:first-child {
  color: #777;
  font-size: 14px;
  letter-spacing: 5px;
}
.container .card .details h2 {
  color: var(--mainColor);
  font-size: 34px;
  font-weight: 700;
  font-family: "Fraunces", serif;
  line-height: 1;
}
.container .card .details .info {
  font-size: 14px;
  color: #777;
  line-height: 1.5;
}
.container .card .details .price {
  font-family: "Fraunces", serif;
  font-size: 34px;
  color: #3b7660;
  font-weight: bolder;
  display: flex;
  align-items: center;
  gap: 18px;
}
.container .card .details .price span {
  font-size: 13px;
  color: #777;
  text-decoration: line-through;
  font-weight: 500;
}
.container .card .button a {
  text-align: center;
  display: block;
  width: 100%;
  padding: 13px 10px;
  text-decoration: none;
  background-color: #3d8168;
  border-radius: 6px;
  color: white;
  transition: 0.35s;
}
.container .card .button:hover a {
  background-color: #1a4031;
}

.container .card .button a svg {
  margin-right: 5px;
}

.attribution {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: var(--mainColor);
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
}
.attribution a {
  color: red;
  text-decoration: none;
}
